// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us"
            variant "intl"
            options "compose:caps"
        }
        repeat-rate 40
        repeat-delay 600
        numlock // Enable numlock on startup
    }
    touchpad {
        tap // Enable tap-to-click
        // scroll-factor 0.4
    }
    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
