window-rule {
    geometry-corner-radius 0 
    clip-to-geometry true
}

 // if you use steam you will probably like these
window-rule {
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#
    open-floating true
}

window-rule {
   match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
   default-floating-position x=10 y=10 relative-to="top-right"
   open-focused false
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

window-rule {
    match title=r#"^(1[eE]mulator)$"#
    open-floating true
}

window-rule {
    match title=r#"^\.megasync$"# 
    open-floating true
}   

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
