// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Good compromise for 27" or 32" 4K monitors (but fractional!)
// output {
//     scale 1.5
// }   

// output "eDP-1" {
//     scale 1.5
// }
//
// output "HDMI-A-1" {
//     scale 2.0
// }   
