Xft.dpi: 192
! Xft.dpi: 96
Xcursor.theme: Qogir-dark
Xcursor.size: 16
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter


XTerm*renderFont: true
XTerm*faceName: xft:FiraCode Nerd Font Mono, \
                xft:Monospace:style=Medium:size=14   
XTerm*faceSize: 14
XTerm*utf8: 2
XTerm*locale: true

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true


! Colores
*.foreground:   #faf8ff
*.background:   #141218
*.cursorColor:  #d7c6ff

! black
*.color0:       #141218
*.color8:       #9d99a5

! red
*.color1:       #ff728f
*.color9:       #ff9fb2

! green
*.color2:       #7fff9a
*.color10:      #a5ffb8

! yellow
*.color3:       #ffda72
*.color11:      #ffe7a5

! blue
*.color4:       #bca5f2
*.color12:      #d7c6ff

! magenta
*.color5:       #4e3d76
*.color13:      #ded0ff

! cyan
*.color6:       #d0bcff
*.color14:      #e9e0ff

! white
*.color7:       #f4efff
*.color15:      #faf8ff

